<footer class="section-sm pb-0 border-top border-default">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-3 mb-4">
        <a class="mb-4 d-block" href="index.html">
          <img
            class="img-fluid"
            width="150px"
            src="images/logo.png"
            alt="Programacion Ecuador"
          />
        </a>
        <p>
          "Programación Ecuador" es un blog dedicado al desarrollo de software en Ecuador. En él, exploramos diversos temas relacionados con la programación, desde tutoriales y guías prácticas hasta análisis de tendencias y noticias relevantes en el mundo de la tecnología.
        </p>
      </div>

      <div class="col-lg-2 col-md-3 col-6 mb-4">
        <h6 class="mb-4">Menu</h6>
        <ul class="list-unstyled footer-list">
          @for (menu of menus; track $index) {
            <li><a [href]="menu.link">{{menu.title}}</a></li>
          }
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 col-6 mb-4">
        <h6 class="mb-4">Social Links</h6>
        <ul class="list-unstyled footer-list">
          <li><a [href]="author.facebook_url" *ngIf="author.facebook_url !== ''"><i class="fa-brands fa-square-facebook"></i> Facebook</a></li>
          <li><a [href]="author.twitter_handle" *ngIf="author.twitter_handle !== ''"><i class="fa-brands fa-square-x-twitter"></i> Twitter</a></li>
          <li><a [href]="author.linkedin_url" *ngIf="author.linkedin_url"><i class="fa-brands fa-linkedin"></i> Linkedin</a></li>
          <li><a href="https://github.com/vladimirandavs19"><i class="fa-brands fa-square-github"></i> Github</a></li>
        </ul>
      </div>

      <div class="col-md-3 mb-4">
        <h6 class="mb-4">Subscribe Newsletter</h6>
        <form class="subscription" action="javascript:void(0)" method="post">
          <div class="position-relative">
            <i class="ti-email email-icon"></i>
            <input
              type="email"
              class="form-control"
              placeholder="Your Email Address"
            />
          </div>
          <button class="btn btn-primary btn-block rounded" type="submit">
            Subscribe now
          </button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>Este blog ha sido realizado con la ayuda de</h4>
        <img src="https://cdn.buttercms.com/PGJPyIwaQ2KnOA8UyKfH" alt="buttercms" width="300px" />
      </div>
    </div>
    <div class="scroll-top">
      <a id="scrollTop" (click)="scrollToTop();"
        ><i class="ti-angle-up"></i
      ></a>
    </div>
    <div class="text-center">
      <p class="content">
        &copy; 2020 - Design &amp; Develop By
        <a href="https://themefisher.com/" target="_blank">Themefisher</a>
      </p>
    </div>
  </div>
</footer>
